.styled-select {
   width:100px;
   overflow: hidden;
   height: 30px;
   border-radius:2px;
 }
 
.styled-select select {
    margin-right: 18em;
  font-weight:bold;
  width: 70%;
  font-size:20px;
   border: 1px solid #DDDDDD;
   background: #F8F8F8;
  text-overflow: '';
  line-height: 2em;
  text-indent: 1em;
}

.styled-select option {
    background: #F8F8F8;
    line-height: 2em;
    text-indent: 1em;
}

.button-link {
    display:block;
    margin-left:4%;
    width:90%;
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
}

.small {
    background-color:green;
    display:inline-block;
    width:20%;
    padding: 5px 7px;
}

#fav {
    display:inline-block;
    position:relative;
    font-size:10px;
    cursor:pointer;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

* {
    text-align:center;
}

#feed-prev:after {
    content:'Anteriores';
}

#feed-post:before {
    content:'Nuevos';
}

@media screen and (max-width : 480px){
    #fav {
        right:5em;    
    }
}
@media screen and (max-width : 320px){
    .styled-select select {
        width:50%;
    }

    #fav {
        right:15em;    
    }

    .button-link {
        margin:0;
        padding: 8px 13px;
        font-size:15px;
    }

    .small {
        width:30%;
    }
}
@media screen and (max-width : 240px){
    .styled-select select {
        width: 48%;
        font-size:18px;
    }

    #fav {
        right:17em;    
        padding:5px 8px 8px;
    }

    .small {
        width:35%;
    }

    #feed-prev:after {
        content:'';
    }

    #feed-post:before {
        content:'';
    }
}